@import url('https://fonts.cdnfonts.com/css/ubuntu');
@import url('https://fonts.cdnfonts.com/css/stoke');
        
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root {
    /* Cores no documento */
    --bege: #EEDDAA;
    --azul1: #3366BB;
    --azul2: #2255AA;
    --azul3: #2255CC;

    /* Fontes no documento */
    --comum: 'Ubuntu', sans-serif;
    --alt: 'Stoke', sans-serif;
}
body {
    overflow: hidden;
    background-color:  var(--bege);
    color: var(--azul1);
    font-size: 16px;
    height: 100dvh;
}
a {
    color: var(--azul2);
    text-decoration: none;
}
a:visited {
    color: var(--azul3);
}
ol, ul {
    line-height: 200%;
    text-align: left;
}
section {
    display: block;
    width: 100%;
    float: right;
}
nav {
    display: block;
    width: 20%;
    float: left;
}
.header{
    display: block;
    margin-bottom: 1px;
    padding: 0.5rem 3%;
}
.ender  {
    float: right;
    text-align: right;
    line-height: 140%;
    font-size: 14px;
    font-family: var(--comum);
}
.imgLogo {
    border-bottom: 4px solid var(--azul1);
    margin-bottom: 6px;
    padding-bottom: 15px;
}
.apres {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    height: 70%;
    text-align: center;
    font-size: 16px;
}
nav ul {
    color: var(--azul1);
    line-height: 230%;
    margin-top: 40px;
    list-style-type: disc;
}
nav ul a {
    font-family: var(--alt);
}
address{
    color: var(--azul2);
}
.titulo {
    text-align: center;
}
.listaQueijo {
    width: 440px;
    color: var(--azul1);
    background-color: #ffffbb;
    padding: 10px;
    border: 2px solid var(--azul1);
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: var(--alt);
}
h4 {
    font-size: 14px;
}
h2 {
    font-family: var(--alt);
    font-size: 20px;
    margin-bottom: 6px;
}
.listaQueijo li {
    margin-left: 30px;
}
.listaQueijo span {
    text-decoration: underline;
}
dd {
    margin-left: 45px;
}
.divCompras {
    width: 550px;
    color: var(--azul2);
    background-color: #ffffbb;
    text-align: left;
    padding: 6px 6px 15px 6px;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid #000;

}
fieldset {
    padding: 10px;
}
.select {
    display: inline;
    width: 200px;
    
}
.listaCompras {
    width: 210px;
    height: 160px;
    float: right;
    margin-top: 2px;
    margin-left: 10px;
}
.colLabSelProd {
    width: 230px;
    height: 40px;
    float: left;
}
.colSelProd {
    width: 160px;
    float: right;
}
.linhaProdSel {
    width: 220px;
    margin-bottom: 6px;
    float: left;
}
.elemEsq {
    display: block;
    float: left;
}
.elemDir {
    display: block;
    float: right;
}
.botoes {
    text-align: right;
    margin: 20px 10px 0px 10px;
}
fieldset .fsEsq {
    float: left;
    display: inline;
    margin: 0;
}
fieldset .fsDir {
    float: right;
    display: inline;
    margin: 0;
}
.inpGrande {
    width: 380px;
}
.impMedio {
    width: 80px;
}
.impNCC {
    width: 130px;
}
.impTelef {
    width: 90px;
}
.impEnder {
    width: 180px;
    height: 50px;
}
.numDD {
    width: 30px;
}
.numQD {
    width: 50px;
}
.divLinha {
    width: 500px;
    margin-bottom: 6px;
}
.colLabCrd {
    width: 260px;
    height: 40px;
    float: left;
}
.colPri {
    float: left;
    display: block;
    width: 90px;
}
.colPriCompras {
    float: left;
    display: block;
    width: 86px;
}
.colPriPag {
    float: left;
    display: block;
    width: 250px;
}
